<a href="https://colab.research.google.com/github/leyla-kose/Python-exercises/blob/main/PythonAddicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#exercise-33

text = 'qA2'
print(any(i.isalnum() for i in text))
print(any(i.isalpha() for i in text))
print(any(i.isdigit() for i in text))
print(any(i.islower() for i in text))
print(any(i.isupper() for i in text))

In [ ]:
#35

list1 = [1, 3, 6, 7, 8, 10]
list2 = [2, 5, 8, 7, 9, 10]

diff1 = set(list1).difference(set(list2))
diff2 = set(list2).difference(set(list1))


print(diff1|diff2)

In [ ]:
#36

num = input('Enter a number: ')
sum_digits = 0

for i in num:
  sum_digits += int(i)

print(int(num)%sum_digits == 0)

In [ ]:
ok#37

num = int(input('Enter a number: '))
divisors = []

for i in range(1,num):
  if num%i==0:
    divisors.append(i)
if sum(divisors) == num:
  print(f'{num} is a perfect number!')
else:
  print(f'{num} is not a perfect number.')

In [ ]:
#38

list1=[195, 488, 142, 626, 180]
list2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia"]

merged_list = list(zip(list1, list2))
print(merged_list)

In [ ]:
#40

x = [1, 2, 3] 

a = [7, 3] 
b =[7, 3, 2] 
c = [1, 3] 

print(x[1] == a[1] or x[-1] == a[-1])
print(x[1] == b[1] or x[-1] == b[-1])
print(x[1] == c[1] or x[-1] == c[-1])

True
False
True

In [ ]:
num = int(input('Enter number of petals: '))
love = 'Loves me'
nolove = 'Loves me not'

List = []
i = 0
while i < num:
  if i%2==0:
    List.append(love)
  else:
    List.append(nolove)
  i+=1
List[-1] = List[-1].upper()
result = ', '.join(List)

result

Enter number of petals: 5

'Loves me, Loves me not, Loves me, Loves me not, LOVES ME'

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}
for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(list(group.values()))

In [ ]:
x = int(input('Enter the first edge of the triange: '))
y = int(input('Enter the second edge of the triange: '))

hypotenuse = (x**2 + y**2) ** 0.5

print(f'The hypotenuse is {hypotenuse}' )

In [ ]:
num = int(input('Enter a number: '))
List = [9, 15, 23, 32]
List.sort()
min = List[0]

if num < min:
  print(f'Numbers of List are greater than {num}')
else:
  print(f'Number(s) of List are not greater than {num}')

In [ ]:
num = int(input('Enter a number: '))

factorial = 1
for i in range(1,num+1):
  factorial *= i
print(f'The factorial of {num} is {factorial}')

In [ ]:
s1 = 'Ynf'
s2 = 'PYnative'

set(s1).issubset(s2) or set(s2).issubset(s1)

In [ ]:
#46

a = list(map(int, input('Number of toys and amount of money: ').split()))
available_toys = a[0]
money = a[1]
prices = list(map(int, input('The prices of toys: ').split()))
prices.sort()
purchased_toys = 0

for i in prices:
  if money>i:
    money -= i
    purchased_toys += 1

print(f'You can purchase {purchased_toys} toys.')

In [ ]:
numbers = list(range(1,11))
numbers.sort(reverse=True)
numbers

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

grocer[1][1][1::2]

['eggplant', 'spinach', 'leek']

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'} :
   print(i)

n1
n2

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

In [ ]:
print(range(5))  # it will not print the numbers in sequence

print(*range(5))  # '*' separates its elements

print(*('separate'))

print(*range(10,0,-2))

range(0, 5)
0 1 2 3 4
s e p a r a t e
10 8 6 4 2

In [ ]:
n = int(input('Enter a number: '))
prime_numbers = []

for num in (range(2, n+1)):
  count = 0
  for i in range(2, (num//2+1)):
    if num % i == 0:
      count+=1
      break
  if count == 0 and num != 1:
    prime_numbers.append(num)

print(*prime_numbers)

Enter a number: 10
2 3 5 7

In [ ]:
n = 10
for Number in range (2, n + 1):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

In [ ]:
start, end, incr = list(map(int, input('Enter start, end and increment values wit a space: ').split()))

print(*range(start, end , incr))

Enter start, end and increment values wit a space: 3 21 3
3 6 9 12 15 18

In [ ]:
text = 'Clarusway'
num_times = {}
for i in set(text):
  count = 0
  count+=text.count(i)
  num_times[i]= count

for j in num_times:
  print(f"{j} appears {num_times[j]} times in '{text}'")

In [ ]:
import math
def isprime(n):
  if n>1:
    for i in range(2, int(math.sqrt(n))+1):
      if n % i == 0:
        return False
    return True  
  else: 
    return False  


result = 0
count = 0
i = 2
while count <= 10000:
  if isprime(i):
    count+=1
    if str(i).startswith('3') and str(i).endswith('7'):
      result+=1
  i+=1
  
print(f'{result} of first 10,000 prime numbers start with 3 and end with 7.')

270 of first 10,000 prime numbers start with 3 and end with 7.

In [ ]:
s = input('Enter a text: ').split()

print(f'The last word "{s[-1]}" with length {len(s[-1])}.')

Enter a text: Hello World
The last word "World" with length 5.

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count = len(flowers)
indeks = 0

while count>0 :
    print(flowers[indeks])
    count -= 1
    indeks += 1

In [ ]:
l1 = [2,4,3]
l2 = [5,6,4]

a = ''
for i in l1[::-1]:
  a += str(i)

b = ''
for i in l2[::-1]:
  b += str(i)

output = []
for i in str(int(a)+int(b))[::-1]:
  output.append(i)

print(output)

['7', '0', '8']

In [ ]:
#59

n = input('Enter a number: ')

result = ''
for i in n:
  a = int(i)**2
  result += str(a)

print(result)

Enter a number: 9119
811181

In [ ]:
a = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6, 'g':7, 'h':8, 'i':9,
     'j':10, 'k':11, 'l':12, 'm':13, 'n':14, 'o':15, 'p':16, 'q':17,
     'r':18, 's':19, 't':20, 'u':21, 'v':22, 'w':23, 'x':24, 'y':25, 'z':26}

text = "The sunset sets at twelve o' clock."

result = ''
for i in text:
  if i.isalpha():
    result += str(a[i.lower()])
    result += ' '

print(result)

In [ ]:
username = 'clarusway'
password = '2021'

input_username = input('Enter username: ')
input_password = input('Enter password: ')

if username == input_username and password == input_password:
  print('Logged in!')
else:
  if username != input_username:
    print('Wrong username!')
  elif password != input_password:
    print('Wrong password!')
  print('Try again!')

In [ ]:
p = 1000
increase = int(0.02 * p) + 50

result = 0
while p <= 1200:
  p += increase
  result += 1

print(f'The town needs {result} years to see its population greater or equal to 1200 inhabitants.')

The town needs 3 years to see its population greater or equal to 1200 inhabitants

In [ ]:
s = input('Enter a text: ')

d = {}
for i in set(s):
  d[i] = s.count(i)

if len(set(d.values())) == 1:
  print('It is a good string!')
else:
  print('It is not a good string!')

Enter a text: abcabc
It is a good string!

In [ ]:
s = input("")
s_dict = {}

for i in s :
  if i in s_dict :
    s_dict[i] +=1
  else :
    s_dict[i] = 1

print(s_dict)
#print(len(set(s_dict.values())) == 1)

abcabcabccbc
{'a': 3, 'b': 4, 'c': 5}

In [ ]:
s = "I like apples but I don't like bananas."
liste = s.split()

d = {}

for i in liste:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
d

In [ ]:
words = input('Enter a text: ').split()

result = []
for i in words:
  if len(i) >= 5:
    result.append(i[::-1])
  else:
    result.append(i)

print(' '.join(result))

Enter a text: This is another test
This is rehtona test

In [ ]:
alphabet = 'abcdefghijklmnopqrstuyvwxyz'
s = input('Enter a sentence: ').lower()

new_s = ''
for i in s:
  if i.isalpha():
    new_s += i

print(set(alphabet) == set(new_s))

Enter a sentence: The quick brown fox jumps over the lazy dog
True

In [ ]:
n = int(input('Enter a number: '))

if n == 0:
  print(False)
else:
  while n % 2 == 0:
    n /= 2
  if n == 1:
    print(True)
  else: 
    print(False)

In [ ]:
d = { "z": "q", "w": "f" }

result = {}
for i in d.keys():
  result[d.get(i)] = i

print(result)

In [ ]:
dict1 = { “zebra”: “koala”, “horse”: “camel” }
inverted_dict = dict(map(reversed, dict1.items()))
inverted_dict

In [ ]:
l = [1,2,3,1,2,1,2,3]
n = 2
new_l = []

for i in l:
  if new_l.count(i)<n:
    new_l.append(i)

print(new_l)

[1, 2, 3, 1, 2, 3]

In [ ]:
numbers = [ 1, 1, 1, 2, 1, 1 ]
a = sorted(numbers)
a

[1, 1, 1, 1, 1, 2]

In [ ]:
numbers = [ 1, 1, 1, 2, 1, 1 ]

for i in set(numbers):
  if numbers.count(i) == 1:
    print(f'The unique number is {i}')

The unique number is 2

In [ ]:
a, b, c = input("Enter three string").split()

In [ ]:
#82

n = int(input('Enter a number: '))
seq = []  
while n>1:
  if n%2 == 0:
    n = n//2
    seq.append(n)
  else:
    n = (n*3)+1
    seq.append(n)

print(seq)
print(max(seq))

Enter a number: 12
[6, 3, 10, 5, 16, 8, 4, 2, 1]
16

In [ ]:
s = input('Enter a sentence: ').split()
result = []

for word in s:
  if word.isalpha():
    word = word[1::] + word[0] + 'ay'
    result.append(word)
  else:
    result.append(word)

print(' '.join(result))

Enter a sentence: Hi ! How are you ?
iHay ! owHay reaay ouyay ?

In [ ]:
letters = {'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 
           'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E',
           'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}

word = input('')
rot13 = []

for i in word:
  if not i.isalpha():
    rot13.append(i)
  elif i.isupper():
    rot13.append(letters[i])
  else:
    rot13.append(letters[i.upper()].lower())

print(''.join(rot13))

Tes12t
Grf12g

In [ ]:
a = [('b', 1), ('c', 2), ('x', 3), ('x', 4), ('z', 0)]

d = {}
n = 0
for i in a:
    d[a[n][-1]] = i
    n+=1

result = []
for j in sorted(d):
  result.append(d[j])

print(result)

[('z', 0), ('b', 1), ('c', 2), ('x', 3), ('x', 4)]

In [ ]:
m = int(input(''))
n = 0
total = 0

while total < m:
  n += 1
  total += n**3

if total == m:
  print(f'm = {m} \nn = {n}')
else:
  print(None)

4183059834009
m = 4183059834009
n = 2022

In [ ]:
minors = ['a', 'an', 'the', 'in', 'on', 'at', 'of', 'from', 'and', 
          'or', 'nor', 'but', 'as', 'by', 'for', 'to', 'per']

sentence = input('').lower().split()
result = []
minor_words = []

for word in sentence:
  if word in minors:
   result.append(word)
   minor_words.append(word)
  else:
    result.append(word.capitalize())

result[0] = result[0].capitalize()

print(' '.join(result))
print(' '.join(minor_words))

THE WIND IN THE WILLOWS
The Wind in the Willows
the in the

In [ ]:
s = input('')
d = {}
for i in s:
  if i not in d:
    d[i] = 1
  else:
    d[i] += 1

n = 0
for j in d.values():
  if j > 1:
    n+=1

if n <= 1:
  print('YES')
else:
  print('NO')

In [ ]:
a = [1, 0, 1, 2, 0, 1, 3]
result = []
n = 0

for i in a:
  if i > 0:
    result.insert(n, i)
    n += 1
  else:
    result.append(i)

print(result)

[1, 1, 2, 1, 3, 0, 0]

In [ ]:
s1 = "and"
s2 = "art"
n = 0

for i in s1:
  if i in s2:
    n+=1

if n > 0:
  print('YES')
else:
  print('NO')

In [ ]:
num = int(input('Enter a number: '))
result = []
n = 0

for i in range(num):
  if i == 0 or i == 1:
    result.append(i)
  else:
    result.append(result[n] + result[n+1])
    n+=1

print(result)

Enter a number: 7
[0, 1, 1, 2, 3, 5, 8]

In [ ]:
dictionary = {}

if dictionary:
  print('dictionary is not empty')
else:
  print('dictionary is empty')

dictionary is empty

In [ ]:
a = [6, 3, -2, 5, -8, 2, -2]
pozitives = []
result = []
n = 0

if a:
  for i in a:
    if i > 0:
      pozitives.append(i)
      
  for j in a:
    if j < 0:
     result.append(j)
    if j > 0:
      result.append(sorted(pozitives)[n])
      n += 1
print(result)

In [ ]:
#100 recipe

recipe = {'flour': 500, 'sugar': 200, 'eggs': 1} 
ingredients = {'flour': 1200, 'sugar': 1200, 'eggs': 5, 'milk': 200}
result = {}

for i in ingredients.keys():
  if i in recipe.keys():
    result[i] = ingredients[i]//recipe[i]

print(min(result.values()))

In [ ]:
a = [3, 13, 11, 2, 1, 9, 5]
result = []

for i in a:
  if i > max(a[a.index(i)::]):
    result.append(i)

result

[]

In [ ]:
a = [5, 5, 5, 5, 5, 5]
result = []

if len(a) == a.count(a[0]):
  print(a[-2:-1])

else: 
  for i in a:
    if i >= max(a[a.index(i)::]):
      result.append(i)

  print(result)

[5]

In [ ]:
age =  input('Are you a cigarette addict older than 75 years old? Yes or No? ').lower()
chronic =  input('Do you have a severe chronic disease? Yes or No? ').lower()
immune = input('Is your immune system too weak? Yes or No? ').lower()

if (age == 'yes') or (chronic == 'yes') or (immune == 'yes'):
  print('You are in risky group.')
elif (age == 'no') and (chronic == 'no') and (immune == 'no'):
  print('You are not in risky group.')
else: 
  print('Try again!')

In [6]:
a = ["cow", "pig", "cow", "cow"] 
s = set()

for i in set(a):
  if a.count(i) == 1:
    s.add(i)
  else:
    s.add(i+'s')
print(s)

{'cows', 'pig'}

In [ ]:
s = "hello"
vowels = []
result = ''
n = 0

for i in s[::-1]:
  if i.lower() in 'aeuoi':
    vowels.append(i)

for j in s:
  if j.lower() not in 'aeuoi':
    result += j
  else: 
    result += vowels[n]
    n += 1

print(result)

In [20]:
a, b, c = map(int, input('Enter 3 numbers: ').split())
sum = a+b+c

if a == b == c:
  print(sum*3)
else:
  print(sum)

Enter 3 numbers: 5 5 5
45

In [5]:
s = ''
for i in range(1, 1001):
  s += str(i)

print(len(s)//3)

964

In [8]:
s = 'google.com'
d = {}

for i in s:
  if i.isalpha():
    if i not in d:
      d[i] = 1
    else:
      d[i] += 1
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}

In [13]:
moves = input('').upper()
d = {'L':0, 'R':0, 'U':0, 'D':0}

for i in moves:
  if i in d:
    d[i] += 1

if d['L'] == d['R'] and d['U'] == d['D']:
  print(True)
else:
  print(False)

RLUDRLUD
True

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]
c = []

for i in range(len(a)):
  x = abs(a[i]-b[i])
  c.append(x**2)

print(sum(c)/len(c))

9.0

In [9]:
a1 = ["arp", "live", "strong"]
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
result = []

for i in a1:
  for j in a2:
    if i in j:
      result.append(i)
      break

print(result)

['arp', 'live', 'strong']

In [42]:
course = 'clarusway'
print(*course, sep='-')

c-l-a-r-u-s-w-a-y

In [9]:
alice = [2]
bob = [1,3]

a = sum(alice)
b = sum(bob)

if a > b:
  more = alice
  less = bob
else:
  more = bob
  less = alice

exchange = abs(a-b)//2
print(more)
print(less)

for i in more:
  for j in less:
    print(i-j)
    if (i-j) == exchange:
      print(i-j == exchange)
      result = [i, j]
      print(result)
      break
  break

[1, 3]
[2]
-1

In [ ]:
if more == alice:
        print(result)
      else:
        print(result[::-1])

In [ ]:
alice = [1,2,5]
bob = [2,4]

a = sum(alice)
b = sum(bob)
exchange = abs(a-b)//2

if a > b:
  for i in alice:
    for j in bob:
      if i-j == exchange:
        result = [i,j]
        print(result)
        break
else:
  for i in bob:
    for j in alice:
      if i-j == exchange:
        result = [j,i]
        print(result)
        break

In [ ]:
a = [4,1,2,1,2]
d = {}

for i in a:
  if i not in d:
    d[i] = 1
  else:
    del d[i]

print(*d.keys())

In [ ]:
lis = ["toe", "ocelot", "maniac"]
d = dict(lis)
d

In [25]:
lis = ["hoops", "chuff", "bot", "bottom"]
d = {}
result = []

for i in lis:
  d[i] = ''
  for j in i:
    if j in 'aeiou':
      d[i] += j
   
for k in d.keys():
  if set(d[k]) == set(d[lis[0]]):
    result.append(k)

print(result)

['hoops', 'bot', 'bottom']

In [28]:
edges = [[1,2],[2,3],[4,2]]

a = set(edges[0]).intersection(set(edges[1]), set(edges[2]))

print(*a)

2

In [31]:
lis = ["hoops", "chuff", "bot", "bottom"]
d = {}
result = []

for i in lis:
  d[i] = ''
  for j in set(i):
    if j in 'aeiou':
      d[i] += j
   
for k in d.keys():
  if d[k] == d[lis[0]]:
    result.append(k)

print(result)

['hoops', 'bot', 'bottom']